@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'), url('../Fuentes/Helvetica.woff') format('woff');
}

* {
    font-family: 'Helvetica'
}

body {
    background-color: white;
}

#nav {
    /*center nav center elements and a gap 3 between them*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 30vw;
    margin: auto;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;


}

#footerpag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 30vw;
    margin: auto;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;

}

.texto {
    text-align: center;
    height: 20vh;
    width: 50vw;
    margin: 0 auto;

}

.texto p {
    margin: 0;
    padding: 0;
    font-size: min(max(1rem, 4vw), 20px);
    font-weight: bold;
    word-wrap: break-word;
    text-align: justify;
    color: black;

}


.linea {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), grey);
    height: 2px;
    width: 100%;
    border-radius: 25px;


}

/**
Icono de usuario
*/
span img {
    width: 5rem;
    height: 5rem;
    margin-left: 4rem;
}

/*
Estilos usuario
*/
.user img {
    width: 6vw;
    height: 6vh;
    margin-left: 4rem;
    display: flex;
    bottom: 31rem;
    left: 54rem;
    position: relative;
}

.user {
    width: 6vw;
    height: 6vh;
    margin-left: 4rem;
    display: flex;
    bottom: 31rem;
    left: 54rem;
    position: relative;
}

.user p{
 width: 5rem;
 height: 5rem;
    position: relative;
    bottom: 31rem;
    left: 60rem;
}

