/*
 * Estilos generales
 */
@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'), url('../Fuentes/Helvetica.woff') format('woff');
}

* {
    color: black;
    font-family: Helvetica;
    font-size: 16px;
}


/*
 * Estilos del registro
 */

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    max-width: 500px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

form > input[type="text"] {

    width: 12vw;
    padding: 0.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-left: auto;
    margin-right: auto;

}

form > input[type="email"] {

    width: 12vw;
    padding: 0.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-left: auto;
    margin-right: auto;
}

form > input[type="password"] {

    width: 12vw;
    padding: 0.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-left: auto;
    margin-right: auto;
}
