@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'), url('../../Fuentes/Helvetica.woff') format('woff');
}
*{
    font-family:'Helvetica'
}

body {
    background-color: white;
}
#nav {
    /*center nav center elements and a gap 3 between them*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 30vw;
    margin: auto;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;



}

#footerpag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 30vw;
    margin: auto;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;

}

.imgcontent {
    width: 40vw;
    height: 65vh;
    color: white;
    margin-bottom: 2em;
    min-height: 100%;
    padding: 0 2em;
    margin-left: auto;
    margin-right: auto;

}

.imgcontent img {
    width: 100%;
    height: auto;
}

h2 {
    text-align: center;
    font-size: xx-large;
}

main p{
    text-align: justify;
    font-size: 20px;
    word-break: break-word;
}

main ul{
    text-align: justify;
    font-size: 20px;
    word-break: break-word;
}


.linea{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), grey);
    height: 2px;
    width: 100%;
    border-radius: 25px;


}